{% extends 'base.html' %}
{% block content %}
<div class="page-title">予約変更</div>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    {% if forloop.counter <= 4 %}
    <div class="input-group.date">
    <div class="field">
        <div class="field-label">{{ field.label }}</div>
        <div class="reserve">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
    <div class="field-category">
        <label for="id_category">空き部屋リスト</label>
    </div>
    <div class="box">
        <select name="category" class="form-control" required id="id_category">
            {% for item in room %}
                <option value='{{ item }}'>{{ item }}</option>
            {% endfor %}
        </select>
    </div>
    <input type='submit' class="btn btn-success" value='変更' name='changebtn'>
    <a href="{% url 'before' pk=pk %}" class="btn btn-danger">戻る</a>
</form>
{% endblock content %}
{% block js %}
    {% load static %}
    <script src="/static/js/reserve.js"></script>
{% endblock js %}